body {
    margin: 0
}

.hidden {
    display: none !important;
}

h1{
    color: white;
    font-size: 36px;
}

.winner1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.winner2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.instruction{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: -15px;
    position: absolute;
}

.instruction > h1{
    font-weight: 100;
    font-size: 25px;
}

.blue{
    color: dodgerblue;
}

.green{
    color: forestgreen;
}

#target{
    color: white;
    position: absolute;
}